body {
    background-color: black;
    color: white;
}

.login.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

.login.container h1 {
    font-size: 100px;
    margin-bottom: 0;
}

.login.container h2 {
    margin-top: 0;
    margin-bottom: 100px;
    font-size: 30px;
}

.login.container label {
    width: 20em;
}

.login.container button {
    margin-top: 30px;
}

#activities {
    padding-bottom: 100px;
}

#activities .compose-container {
    background-color: #151929;
}

#activities .compose {
    width: 50%;
    min-height: 200px;
    margin: 100px auto 0 auto;
    padding: 40px 10px 0 10px;
}

#activities .compose textarea {
    width: 100%;
}

#activities .compose ul.compose-menu {
    margin: 10px 0;
    padding: 0;
}

#activities .compose ul.compose-menu li {
    padding: 10px 50px;
    display: inline;
    cursor: pointer;
    font-weight: bold;
    background-color: #252939;
}

#activities .compose ul.compose-menu li.active {
    background-color: #1F8DD6;
}

#activities .compose ul.stamp {
    padding: 10px 0 50px 0;
    border-top: 1px solid #252939;
    border-bottom: 1px solid #252939;
}

#activities .compose ul.stamp li {
    display: inline;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
}

#activities .compose ul.stamp li:hover {
    background-color: #777;
}

#activities .list {
    width: 50%;
    margin: 0 auto;
}

#activities .list ul {
    list-style: none;
}

#activities .list ul > li > ul {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px 30px;
    min-height: 84px;
}

#activities .list ul > li > ul > li.image {
    float: left;
    margin-right: 10px;
}

#activities .list ul > li > ul > li.username {
    float: both;
}

#activities .activity .username {
    font-weight: bold;
}

.pure-menu {
    background-color: black;
}

.pure-menu h1 {
    font-size: 120%;
    margin-left: 40px;
}

.pure-menu h1 * {
    margin: 0;
    font-size: 12px;
    display: inline;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    background-color: black;
    width: 100%;
    padding-top: 10px;
}

#footer .pager {
    margin: 0 auto;
    width: 50%;
}

#footer .pager li a {
    text-align: center;
    padding: 10px;
}

#footer .pager li a[href^="/"] {
    display: inline;
}

#footer .pager li a[href="#"] {
    display: none;
}

#footer .pager a:visited,
#footer .pager a:active,
#footer .pager a:link,
#footer .pager a:hover {
    color: white;
}

#prevPage, #nextPage {
    cursor: pointer;
}
