<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/static/main.css">
<title>Home</title>

<div class="pure-menu pure-menu-fixed">
<h1>VOYAtter <span class="note">{{.User.Username}} さんとしてログインしています　<a href="/logout" onclick="var r = new XMLHttpRequest(); r.open('POST', '/logout'); r.send(); location.href='/login'; return false;">[logout]</a></span></h1>
</div>

<div id="activities">

<div class="compose-container">
<div class="compose">

<form id="activity-form" action="/activity" method="post">
  <textarea name="body" placeholder="例) 今何してますか？　忙しいですか？"></textarea>
  <p><input type="submit" value="ぼやく" /></p>
</form>
</div>
</div>

<div class="list">

<p>size:
<select onchange="location.href='/?size='+this.value">
{{range .Sizes}}
  <option value="{{.}}" {{if eq $.Size .}}selected="selected"{{end}}>{{.}}</option>
{{end}}
</select>
</p>

<ul class="activity">
</ul>

<div id="footer">
<ul class="pager pure-paginator">
<li><a id="prevPage" href="#">&#171;</a></li>
<li id="currentPage"></li>
<li><a id="nextPage" href="#">&#187;</a></li>
</ul>
</div>

</div>

</div>

<script>
'use strict';

const totalPages = parseInt(parseInt('{{.TotalNum}}', 10) / parseInt('{{.Size}}', 10), 10) + 1;
const data = { page: "{{.Page}}", size: "{{.Size}}", totalPages: totalPages, pager_display: `{{.Page}} / ${totalPages}`, activities: {{.Activities}}, };

function renderActivities(pageData) {
  const activityList = document.querySelector("#activities ul.activity");
  while (activityList.firstChild) {
    activityList.removeChild(activityList.firstChild);
  }

  if (!pageData.activities) {
    const noActivities = document.createElement('li');
    noActivities.textContent = "まだ投稿がありません。キミだけのオリジナルぼやきを投稿してみよう！";
    activityList.appendChild(noActivities);
    return;
  }

  pageData.activities.forEach(function (activity) {
    const imageElement = document.createElement('img');
    imageElement.setAttribute('src', `/static/${activity.Username}.jpg`);
    imageElement.setAttribute('width', '64');
    imageElement.setAttribute('height', '64');

    const activityImageElement = document.createElement('li');
    activityImageElement.classList.add('image');
    activityImageElement.appendChild(imageElement);

    const activityUsernameElement = document.createElement('li');
    activityUsernameElement.classList.add('username');
    activityUsernameElement.textContent = activity.Username;

    const activityBodyElement = document.createElement('li');
    activityBodyElement.classList.add('body');
    activityBodyElement.textContent = activity.Body;

    const activityElement = document.createElement('ul');
    activityElement.appendChild(activityImageElement);
    activityElement.appendChild(activityUsernameElement);
    activityElement.appendChild(activityBodyElement);

    const activityWrapperElement = document.createElement('li');
    activityWrapperElement.appendChild(activityElement);

    activityList.appendChild(activityWrapperElement);
  });
}

function renderPager(pageData) {
  document.getElementById('currentPage').textContent = pageData.pager_display;

  const size = parseInt(pageData.size, 10);

  let prevPage = parseInt(pageData.page) - 1;
  const prevLink = prevPage > 0 ? `/?page=${prevPage}&size=${size}` : '#';
  document.getElementById('prevPage').setAttribute('href', prevLink);

  let nextPage = parseInt(pageData.page) + 1;
  const nextLink = nextPage <= totalPages ? `/?page=${nextPage}&size=${size}` : '#';
  document.getElementById('nextPage').setAttribute('href', nextLink);
}

renderActivities(data);
renderPager(data);
</script>
