<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/static/main.css">
<title>Home</title>

<div class="pure-menu pure-menu-fixed">
<h1>VOYAtter <span class="note">[[.User.Username]] さんとしてログインしています　<a href="/logout" onclick="var r = new XMLHttpRequest(); r.open('POST', '/logout'); r.send(); location.href='/login'; return false;">[logout]</a></span></h1>
</div>

<div id="activities">

<div class="compose-container">
<div class="compose">

<form id="activity-form" action="/activity" method="post">
  <textarea name="body" placeholder="例) 今何してますか？　忙しいですか？">[[.Msg]]</textarea>
  <p><input type="submit" value="ぼやく" /></p>
</form>
</div>
</div>

<div class="list">
<p>size:
<select onchange="location.href='/?size='+this.value">
[[range .Sizes]]
  <option value="[[.]]" [[if eq $.Size .]]selected="selected"[[end]]>[[.]]</option>
[[end]]
</select>
</p>

<ul class="activity">
  <li v-if="activities.length <= 0">まだ投稿がありません。キミだけのオリジナルぼやきを投稿してみよう！</li>
  <li v-else v-for="activity in activities">
    <ul>
      <li class="image"><img v-bind:src="'/static/' + activity.Username + '.jpg'" width="64" height="64"></li>
      <li class="username">{{ activity.Username }}</li>
      <li class="body">{{ activity.Body }}</li>
    </ul>
  </li>
</ul>

<div id="footer">
<ul class="pager pure-paginator">
<li><a id="prevPage" v-if="parseInt(page, 10) > 1" v-on:click.prevent.cancel="load(parseInt(page, 10) - 1, size)">&#171;</a></li>
<li id="currentPage">{{page}} / {{totalPages}}</li>
<li><a id="nextPage" v-if="parseInt(page, 10) < totalPages" v-on:click.prevent.cancel="load(parseInt(page, 10) + 1, size)">&#187;</a></li>
</ul>
</div>

</div>

</div>

<script src="/static/vue.js"></script>
<script>
'use strict';

const totalPages = parseInt(parseInt('[[.TotalNum]]', 10) / parseInt('[[.Size]]', 10), 10) + 1;
const data = { page: "[[.Page]]", size: "[[.Size]]", totalPages: totalPages, activities: [[.Activities]], };

const app = new Vue({
  el: '#activities',
  data: data,
  methods: {
    load: function(page, size) {
      location.href = '/?page=' + page + '&size=' + size;
    },
  }
})
</script>
